*{
    margin: 0;
    padding: 0;
}
// 1st way of defining variables
// $color-primary: #51E1ED;
// $color-accent: #E21717;


// 2nd way of defining variables --->>> map-get method

$colors :(
    primary: #51E1ED,
    accent:#2827CC,
    font:#fff

);

@function color($colorName) {
    @return map-get($map: $colors, $key: $colorName)
} 

$sizes:(
    fonth1:40px,
    fonth2:30px,
    fonth3:20px
);

// body{
//     background-color: $color-accent;
// }

/*
body{
    // background-color: map-get($map: $colors, $key: accent);
    background-color: color(primary);
    color: map-get($map: $colors, $key: font);
    font-size: map-get($map: $sizes, $key: fonth2);
}
*/

// Nesting CSS
/*
main{
    height: 100%;
    p{
        color: color(accent);
    }
    a{
        text-decoration: none;
    }

}
*/

// body{
//     clip-path: polygon(0 0, 75% 0%, 100% 11%, 100% 49%, 43% 100%, 1% 44%);
//     background-color: #330000;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
// background-attachment: fixed;
// background-size: cover;
// }

body,html{
    height: 100%;
}


body {
    .container{
        clip-path: polygon(0 0, 75% 0%, 100% 0, 100% 49%, 33% 100%, 0 86%);
        background-color:color(accent);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    header{
        a{
            color: color(font);
            font-size: map-get($map: $sizes, $key: fonth1);
            text-align: center;
            text-decoration: none;
            display: block;
            padding-top: 19px;

        }
    }
}